<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mysport">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".POJO.TypeTerrain"></activity>
        <activity android:name=".POJO.TerrainListAdapter" />
        <activity android:name=".ApplicationInterface.ModifProfil" />
        <activity android:name="com.example.mysportApp.ModifProfil" />
        <activity android:name=".ApplicationInterface.MesReservOnClick" />
        <activity android:name="com.example.mysportApp.MesReservationOnClick" />
        <activity android:name=".ApplicationInterface.MesAnnonceOnClick" />
        <activity android:name=".ApplicationInterface.AjoutAnnonce" />
        <activity android:name=".ApplicationInterface.Profil" />
        <activity android:name=".ApplicationInterface.MesAnnonce" />
        <activity android:name=".ApplicationInterface.MesReservation" />
        <activity
            android:name=".ApplicationInterface.AnnonceOnClick"
            android:label="@string/title_activity_annonce_on_click"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ApplicationInterface.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".POJO.Recherche"
            android:label="@string/title_activity_recherche"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ApplicationInterface.Accueil"
            android:label="@string/title_activity_accueil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ApplicationInterface.Inscription"
            android:label="@string/title_activity_inscription"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ApplicationInterface.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>